.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  max-width: 350px;
  border: 2px solid #00ffff;
  border-radius: 50px;
  background-color: transparent;
  padding: 5px 15px;
}

.search-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: left;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.center-text {
  text-align: center;
}

.search-input::placeholder {
  color: #aaaaaa;
  font-style: italic;
  text-align: left;
}

input {
  padding: 10px;
  text-align: left;
}

input.center-text {
  text-align: center;
}

.search-btn {
  background-color: #00ffff;
  border: none;
  color: #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.search-btn:hover {
  background-color: #00cccc;
  box-shadow: 0 0 10px #00ffff;
  transform: rotate(20deg);
}
